body{
    background-color: burlywood;
    background-image: url("../imagenes/fondo-rosa.jpg") ;
}
h1{
 background-color:pink;color:red;
 }

 a{
     background-color: green;color:white;
 }

 ol{
     color: tomato;

 }
